In [1]:
import pandas as pd
import numpy as np

In [2]:
d_iris = pd.read_csv('dirty_iris.csv')

In [3]:
d_iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
0           6.4          3.2           4.5          1.5  versicolor
1           6.3          3.3           6.0          2.5   virginica
2           6.2          NaN           5.4          2.3   virginica
3           5.0          3.4           1.6          0.4      setosa
4           5.7          2.6           3.5          1.0  versicolor

## Number of observations that are complete

In [4]:
rows_count = list(d_iris.isnull().sum(axis=1)).count(0)
print("Percentage: ",(rows_count * 100)/150)

Percentage:  64.0

## Replace all special values with NA

In [5]:
data = d_iris._get_numeric_data()
data[data < 0] = None
data.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0           6.4          3.2           4.5          1.5
1           6.3          3.3           6.0          2.5
2           6.2          NaN           5.4          2.3
3           5.0          3.4           1.6          0.4
4           5.7          2.6           3.5          1.0

In [6]:
is_valid_species = lambda x: True if x[4] in ('setosa','versicolor','virginica') else False

In [7]:
is_all_positive = lambda x: True if x[0]>=0 and x[1]>=0 and x[2]>=0 and x[3]>=0 else False

In [8]:
is_length_double = lambda x: True if (x[2] >= 2*x[3]) else False

In [9]:
is_length_valid = lambda x: True if x[0] <= 30 else False

In [10]:
is_sepal_longer = lambda x: True if x[0] > x[2] else False

In [11]:
print(is_valid_species(d_iris.values[0]))
print(is_all_positive(d_iris.values[0]))
print(is_length_double(d_iris.values[0]))
print(is_length_valid(d_iris.values[1]))
print(is_sepal_longer(d_iris.values[3]))

True
True
True
True
True